<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>317561677699-hdgbu99lk976p75soos843l3qn31e53r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317561677699-hdgbu99lk976p75soos843l3qn31e53r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>317561677699-i7s36mqqai9jc14o96ci6q3qppt51ag2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCnwSzala7jY_R-qfGom-BmuMfABbjZmMA</string>
	<key>GCM_SENDER_ID</key>
	<string>317561677699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.mttimer</string>
	<key>PROJECT_ID</key>
	<string>multitimer-96a59</string>
	<key>STORAGE_BUCKET</key>
	<string>multitimer-96a59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317561677699:ios:ca4e2c13527234ef1178b6</string>
</dict>
</plist>